/node_modules
/public/hot
/public/plugins/*
/public/files/*
!/public/files/.gitkeep
/public/storage
/storage/*.key
# /vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
